/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .main-header,
    .row {
        /* background-color: #030303; */
        display: flex;
        width: 80%;
		margin: 0 auto;
		max-width: 1150px;
    }
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
	.tagline {
		font-size: 1.4em;
	}

    /* 
	.col {
		flex: 1;
	} */
}

@media (min-width: 1200px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
    .row{
        /* background-color: #030303; */
        display: flex;
        flex-wrap: wrap;

        width: 1200px;
        /* width: 100%; */
        /* flex-direction: row; */

        /* width: 95%; */
        margin: 0 auto;
    }

	.col {
        /* width: 1200px; */
        width: 45%;
        margin: 10px auto;
        /* margin: 10px 50px; */
	}
}