* {
    box-sizing: border-box;
}

.put_here{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}
     
.item{
    width: 30%;
    border: solid 1.2px black;
    padding: 20px;
    vertical-align: center;
}